<% content_for :sidebar do %>
  <div id="sidebar" class="grid_3" >
    <div id="categories" class="sidebar-list round">
      <h1>Categorías</h1>
      <ul>
        <li>Bomba dosificadora</li>
        <li><%= link_to "Controlador Batch", "#" %></li>
        <li><%= link_to "Controlador de Flujo", "#" %></li>
        <li><%= link_to "Controlador de Presión", "#" %></li>
        <li><%= link_to "Controlador de Velocidad", "#" %></li>
        <li><%= link_to "Data logger", "#" %></li>
        <li><%= link_to "Medidor de Flujo", "#" %></li>
        <li><%= link_to "Medidor de Presión", "#" %></li>
        <li><%= link_to "Interruptor de Flujo", "#" %></li>
        <li><%= link_to "Sensor de Flujo", "#" %></li>
        <li><%= link_to "Transductor de Presión", "#" %></li>
        <li><%= link_to "Transmisor de Flujo", "#" %></li>
        <li><%= link_to "Transmisor de Nivel", "#" %></li>
        <li><%= link_to "Transmisor de Presión", "#" %></li>
        <li><%= link_to "Transmisor de Temperatura", "#" %></li>
      </ul>
    </div>
  </div>
<% end %>

<div id="content" class="grid_9" >

  <h1>Bomba Dosificadora <span class="quantity">20</span></h1>
  <ul id="products" class="products">
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="product">
      <div class="grid_2 alpha blue-back round">
        <%= product_thumb %>
      </div>
      <div class="grid_7 omega blue-back round">
        <div class="description">
          <div>
            <%= link_to "Controlador de Presión digital - Modelo 1270", "#" %>
            <p>
              Las bombas dosificadoras de engranes de la Serie B-9000 son el
              estándar industrial para la verdadera dosificación de precisión,
              para aplicaciones difíciles en una gran variedad de procesos
              industriales...
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>