<div id="content" class="grid_12" >
  <div class="grid_4 alpha">
    <div class="big-product-img">
      <%= image_tag("product-big.png") %>
    </div>
    
    <div class="blue-back round">
      <div class="content-block">
        <div>
          <h2>Documentación</h2>
          <%= link_to "Models 111, 211, 311.pdf", "#" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid_8 omega">
    <h1>Transductor de Presión de grado Industrial - Modelos 311, 211, 111</h1>
    <div class="price-request-button">
      <%= link_to "Solicitar Precio", "#" %>
    </div>
    <div class="blue-back round">  
      <div class="content-block">
        <div>
          <h2>Descripción</h2>
          <h3>Características:</h3>
          <ul>
            <li>Contrucción SST rígida y soldada.</li>
            <li>Tecnología de celda de carga.</li>
            <li>Resistente a picos de presión.</li>
          </ul>
          
          <h3>Rangos de Presión:</h3>
          <ul>
            <li>Desde 0-5 hasta 0-20,000 PSI.</li>
            <li>Estan disponibles: PSIG, PSIS, PSIA, PSIV y rangos compuestos.</li>
          </ul>
          
          <h3>Precisión:</h3>
          <ul>
            <li>Alta precisión, Estandar 0.5% FSO y Opcional 0.1% FSO</li>
          </ul>        
          
        </div>
      </div>
    </div>
    
    <div class="blue-back round">
      <div class="content-block">
        <div>
          <h2>Numeros de parte</h2>
          <p class="gray">
            Aquí puede estar el número de parte que necesitas o te pueden servir de ayuda para tu selección.
          </p>
          <ul>
            <li><%= link_to "311-D-PZ-3-CA", "#" %></li>
            <li><%= link_to "311-D-PZ-3-CA", "#" %></li>
            <li><%= link_to "311-D-PZ-3-CA", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>